<center><h1>Welcome to Meme Browser</h1></center>
<form action="/posts/new">
    <input type="submit" value="New Post" />
</form>
<table style="width:100%">
	<tr>
		<th>Title</th>
		<th>Image</th>
	</tr>
<% @posts.each do |post| %>
<tr align="center">
	<td style="width:50%"><%= post.title %></td>
	<td style="width:50%"><img src="<%= post.img %>" width="100px" height="100px"/> </td>
<% end %>
</table>