<h2><%= @post.title %></h2>
<img src="<%= @post.img %>" width="400px" height="400px"/> 
<p><%= link_to "Delete", post_path(@post),
         :data => {:confirm => "You sure?",
                   :method => "delete"} %>
                                   	
</p>
<p>
<form action="/">
    <input type="submit" value="Homepage" />
</form>