
<div class="controls">
	<center>
		<%= will_paginate @posts %>
	</center>
</div>

<table id="my-posts" style="width:100%">
	<tr>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	<%= render @posts %>
</table>

<div class="controls">
	<center>
		<%= will_paginate @posts %>
	</center>
</div>
