
<div class="welcome">
  <h1>These are your posts</h1><br>
  <%= link_to 'New Post', new_post_path%>
  <%= link_to 'Back', root_path %>
</div>

<div class="content-posts">
  <%= render 'show_posts_table' %>
</div>